    .containersinscritpion {
        background-image: url("../assets/img/img-home.jpg");
        background-repeat: no-repeat;
        margin-right: 0;
        margin-left: 0;
        height: 550px;
        padding: 6%;
        /*background-size: cover; */
    }
    
    .form-containerss {
        background-color: #fff;
        font-family: 'Titillium Web', sans-serif;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
        text-align: left;
        opacity: 0.9;
    }
    
    .form-mains {
        padding-top: inherit;
    }
    
    .tilte-texte {
        padding: 10px 50%;
    }
    
    .buttoncontact {
        float: right;
        font-size: 14px;
        color: #fff;
        width: 90%;
        border-radius: 50px;
        padding: 10px 25px;
        border: none;
        text-transform: capitalize;
        transition: all 0.5s ease 0s;
    }
    
    @media only screen and (max-width: 479px) {
        .tables thead tr th {
            font-size: 9px;
        }
        .tilte-texte {
            font-size: 9px;
        }
        .tables tbody tr td .buttoncontact {
            font-size: 9px;
            padding: 5px 5px;
        }
        .form-containerss {
            padding-left: 1px;
            padding-right: 1px;
            width: 100%;
        }
        .containersinscritpion {
            height: 600px;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .tables thead tr th {
            font-size: 10px;
        }
        .tilte-texte {
            font-size: 18px;
        }
        .tables {
            font-size: 12px;
        }
    }